/*header*/
.header div{
	float: left;
}
.logo{
	width: 20%;
	height: 100%;
	background: url(../img/logo.png) no-repeat 51px 10px;
}
.infor{
	box-sizing: border-box;
	width: 80%;
	padding-top: 13px;
	padding-left: 50%;
}
.search input{
	display: block;
	box-sizing: content-box;
	border:1px solid #ccc;
	border-radius: 20px;
	outline: none;
	width: 60%;
	height: 28px;
	padding:0px 40px;
	line-height: 28px;
	background: #fff url(../img/icon_search.png) no-repeat 20px 5px;
}
.login{
	padding-left: 20px;
	line-height: 30px;
	color: #fff;
	background: url(../img/icon_login.png) no-repeat 0px 8px;
}
